<div class="container">
  <div class="col-xs-12 col-md-2">
    side bar goes here
  </div>
  <div class="col-xs-12 col-md-10">
    <div class="page-header">
      <h3>Add New Exam</h3>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading"></div>
      <div class="panel"></div>
      <div class="panel"></div>
    </div>
    <div class="panel panel-primary">
      <div class="panel"></div>
      <div class="panel"></div>
      <div class="panel"></div>
    </div>
    <div class="panel panel-primary">
      <div class="panel"></div>
      <div class="panel"></div>
      <div class="panel"></div>
    </div>
  </div>
</div>